# SPDX-License-Identifier: BSD-3-Clause

name: CI build and test (demos, algorithms, tutorials)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build demos
        run: utils/build_demos.sh

      - name: Build algorithms
        run: utils/build_and_test_algorithms.sh

      - name: Build tutorials
        run: utils/build_tutorials.sh
